html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Roboto Variable", sans-serif;
}

header {
  border-bottom: 1px solid rgb(163, 163, 163);
  display: flex;
  justify-content: space-between;
  gap: .25rem;
}

/* Fades page while loading new one */
.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}

.home-links {
  padding: .5rem;
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  gap: .25rem;
  margin-right: .25rem;
}

.home-links span {
  margin: 0;
  font-size: x-large;
  font-weight: bold;
}

.header-icon {
  width: 2rem;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .25rem;
}

.nav-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  gap: .25rem;
}

.search-button {
  width: 4rem;
  height: 70%;
  display: flex;
  align-items: center;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 1rem;
  background-color: white;
  padding-left: .25rem;
}

.search-button:hover {
  background-color: rgb(230, 230, 230);
}

.search-icon {
  width: 1.2rem;
}

.nav-button-mobile {
  flex-shrink: 0;
  height: 3rem;
  width: 3rem;
  border: none;
  background-color: white;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button-mobile:hover {
  background-color: rgb(230, 230, 230);
}

.nav-icon {
  width: 1.5rem;
}

.search-wrapper {
  background-color: rgb(242, 242, 242);
  box-sizing: border-box;
  flex-grow: 1;
  height: 70%;
  border: 1px solid rgb(163, 163, 163);
  border-radius: .5rem;
  margin-left: .5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: .5rem;
  padding-right: 0.5rem;
}

.search-wrapper form {
  flex-grow: 1;
  background-color: inherit;
}

.player-search {
  background-color: inherit;
  width: 100%;
  font-size: large;
  border: none;
  outline: none;
  padding: 0;
}

.player-search::placeholder {
  color: rgb(102, 102, 102);
}

.header-addition {
  position: absolute;
  z-index: 1;
  top: 3rem;
  background-color: white;
  border-bottom: 1px solid rgb(163, 163, 163);
  width: 100%;
  box-sizing: border-box;
  list-style-type: none;
  margin-top: 1px;
  margin-bottom: 0;
  padding: .25rem 0;
}

.text-right {
  text-align: end;
}

.search-result {
  padding: .25rem .5rem;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

/* .player-page {
  background-color: lightgray;
} */

.bio-card {
  background-color: rgb(95, 136, 95);
  padding: .5rem .5rem .75rem .5rem;
}

.name-team {
  text-align: center;
  padding-bottom: .5rem;
}

.bio-card h1,h2 {
  margin: 0;
}

.bio-card h2 {
  font-weight: normal;
  font-size: 1.2rem;
}

.player-icon {
  width: 6rem;
  border: 1px solid black;
  float: right;
  margin-bottom: .3rem;
  margin-left: .3rem;
}

.player-info {
  padding: 0 .5rem;
}

.info-line {
  margin-top: .3rem;
  display: flex;
  gap: 4px;
}

.player-info p {
  margin: 0;
  font-size: .9rem;
}

.info-header {
  font-weight: bold;
}


